:root {
  --red: tomato;
  --bgColor: bisque;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  /* font-family: arial; */
}
.css-b62m3t-container {
  position: relative;
  box-sizing: border-box;
  width: 220px;
  text-align: left;
  /* margin-right: 10%;
  margin-left: 10%;
  padding-left: 0px; */
}

.selecting {
  width: 205px;
  padding-left: 0px;
}

.bredde {
  width: 220px;
}

pre {
  white-space: pre-wrap;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 200;
  line-height: 2.5;
}

.alerts {
  width: 100%;
  z-index: 3 !important;
  position: fixed;
  top: 76px;
  width: 100%;
}

.margintop {
  margin-top: 76px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 17px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #e8e8e8 0%, #b5b5b5 100%);
  background-image: linear-gradient(120deg, #e8e8e8 0%, #b5b5b5 100%);
}

#frontname {
  position: relative;
  top: -50%;
}
em {
  font-style: normal;
}

/* .nav-link {
  border: 30px;
} */

select.form-control {
}

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.navbar-brand {
  text-align: center;
}

.nav-link:link,
.nav-link:visited,
.navbar-brand:link,
.navbar-brand:visited {
  padding: 15px 40px;
  width: 130px;
  margin-left: 10px;
  /* height: 40px; */
  vertical-align: middle;
  top: 50%;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.2s;
}

.nav-link:hover,
.navbar-brand:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: rgb(26, 26, 26);
}

.nav-link:active,
.navbar-brand:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.nav-link-white,
.navbar-brand-white {
  background-color: #fff;
  color: #777;
}

.nav-link::after,
.navbar-brand::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.nav-link-white::after,
.navbar-brand-white::after {
  background-color: #fff;
}

.nav-link:hover::after,
.navbar-brand:hover::after {
  /* transform: scaleX(1.4) scaleY(1.6); */
  opacity: 0;
}

.active {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* border-radius: 10px; */
}

/*  */

.card {
  /* width: 100%; */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 220px;
  height: 360px;
  align-self: normal;
  margin-top: auto;
  margin: 10px 9px;
  padding: 0px 0px 0px;
  transition: all 0.2s !important;
}

.cards:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.cards:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cards-white {
  background-color: #fff;
  color: #777;
}

.cards::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* transition: all 0.4s !important; */
}

.cards-white::after {
  background-color: #fff;
}

.cards:hover::after {
  /* transform: scaleX(1.4) scaleY(1.6); */
  opacity: 0;
}

/*  */

.car {
  width: 550px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: normal;
  margin-top: auto;
  transition: all 0.2s !important;
}

.car:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.car:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.car-white {
  background-color: #fff;
  color: #777;
}

.car::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* transition: all 0.4s !important; */
}

.car-white::after {
  background-color: #fff;
}

.car:hover::after {
  /* transform: scaleX(1.4) scaleY(1.6); */
  opacity: 0;
}

/*  */

.nav-links {
  width: 200px !important;
  margin-left: 0px !important;
  background-color: rgb(245, 245, 245) !important;
}

.frontPicture {
  /* box-shadow: -50px -50px 0 -40px var(--red), 50px 50px 0 -40px var(--red); */
  border-radius: 10px;
  height: 500px;
  /* width: 50%;
  object-fit: cover;
  object-position: 50% 0; */
}
.frontpage {
  text-align: center;
}

.black {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-size: 1em;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 0% 0;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.stort {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: 0% 0;
  border-radius: 10px;
}

.scroll {
  overflow: auto;
  height: 300px;
  width: 600px;
}

.oppskrifter {
  /* display: inline-block; */
  width: 100%;
  height: 100vh;
  /* flex: 1 1 auto; */
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mat {
  width: 20%;
  height: 100vh;
  /* flex: 1 1 auto; */
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* top: 50%; */
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  margin: 0px 0px;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.container-fluid {
  /* width: 100%;
    margin: 0px 0px;
    display: flex;
    flex-flow: column;
    height: 100%; */
}

/* .container .row {
  flex: 1 1 auto;
} */

.recipe-container {
  width: 100%;
  margin: 0px 0px;
}

.icebox-body {
  text-align: center;
  position: absolute;
}

.recipe-title {
  font-size: 23px;
  margin-top: 10px;
}

.row {
  margin-right: 0px;
  /* display: flex; */
  /* justify-content: center; */
}

.rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
}

.cards-body {
  padding: 0px 0px 0px;
}

.bi {
  width: 12px;
}

.hundred {
  height: 100%;
}

#heart-svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
}
svg #heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}
svg #main-circ {
  transform-origin: 29.5px 29.5px;
}
#checkbox {
  display: none;
}
#checkbox:checked + label svg #heart {
  transform: scale(0.2);
  fill: #e2264d;
  animation: animateHeart 0.3s linear forwards 0.25s;
}
#checkbox:checked + label svg #main-circ {
  transition: all 2s;
  animation: animateCircle 0.3s linear forwards;
  opacity: 1;
}
#checkbox:checked + label svg #grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
}
@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
