:root {
  --red: tomato;
  --bgColor: bisque;
}

body {
  font-size: arial;
}

/* html, body {
    max-width: 100%;
    overflow-x: hidden;
} */
#frontname {
  position: relative;
  top: -50%;
}
em {
  font-style: normal;
}

/* .nav-link {
  border: 30px;
} */

.navbar-brand {
  text-align: center;
}

.nav-link:link,
.nav-link:visited,
.navbar-brand:link,
.navbar-brand:visited {
  padding: 15px 40px;
  width: 130px;
  margin-left: 10px;
  /* height: 40px; */
  vertical-align: middle;
  top: 50%;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.2s;
}

.nav-link:hover,
.navbar-brand:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: rgb(26, 26, 26);
}

.nav-link:active,
.navbar-brand:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.nav-link-white,
.navbar-brand-white {
  background-color: #fff;
  color: #777;
}

.nav-link::after,
.navbar-brand::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.nav-link-white::after,
.navbar-brand-white::after {
  background-color: #fff;
}

.nav-link:hover::after,
.navbar-brand:hover::after {
  /* transform: scaleX(1.4) scaleY(1.6); */
  opacity: 0;
}

.active {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* border-radius: 10px; */
}



/*  */

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 220px;
    height: 355px;
    align-self: normal;
    margin-top: auto;
    margin: 20px 1px;
    padding: 0px 0px 0px;
    transition: all 0.2s !important;
  }


.cards:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.cards:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cards-white{
  background-color: #fff;
  color: #777;
}

.cards::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* transition: all 0.4s !important; */
}

.cards-white::after{
  background-color: #fff;
}

.cards:hover::after{
  /* transform: scaleX(1.4) scaleY(1.6); */
  opacity: 0;
}

/*  */

.frontPicture {
  box-shadow: -50px -50px 0 -40px var(--red), 50px 50px 0 -40px var(--red);
  height: 500px;
  width: 50%;
}
.frontpage {
  text-align: center;
}

.black {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-size: 1em;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 0% 0;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.oppskrifter {
  /* display: inline-block; */
  width: 100%;
  height: 100vh;
  /* flex: 1 1 auto; */
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mat {
  width: 20%;
  height: 100vh;
  /* flex: 1 1 auto; */
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* top: 50%; */
  margin-left: auto;
  margin-right: auto;
}

.car {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0px 0px;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.container .row {
  flex: 1 1 auto;
}

.recipe-container {
  width: 100%;
  margin: 0px 0px;
}

.recipe-title {
    font-size: 23px;
    margin-top: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.card-body {
  padding: 0px 0px 0px;
}

.form-check-input {
  position: absolute;
  left: -100vw;
}

.form-check-input:checked + #heart {
  color: #e2264d;
  will-change: font-size;
  animation: heart 1s cubic-bezier(0.2, 5, 0.83, 0.67);
}

#heart {
  color: #aab8c2;
  cursor: pointer;
  font-size: 2em;
  align-self: center;
  transition: color 0.2s ease-in-out;
}

#heart:hover {
  color: grey;
}

#heart::selection {
  color: none;
  background: transparent;
}

#heart::moz-selection {
  color: none;
  background: transparent;
}

@keyframes heart {
  0%,
  17.5% {
    font-size: 0;
  }
}
