body {
  font-size: arial;
}

em {
  font-style: normal;
}

.black {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-size: 1em;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 30% 0;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recipe-div {
  /* border: 2px solid rgb(218, 218, 218); */
  /* border-radius: 25px;  */
}

.card-columns {
}

.cards {
  display: inline-block;
  width: 220px;
}

.card {
  width: 66%;
  display: inline-block;
}

.car {
  width: 100%;
}

.recipe-body {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  /* width: 210px; */
}

.form-check-input {
  position: absolute;
  left: -100vw;
}

.form-check-input:checked + #heart {
  color: #e2264d;
  will-change: font-size;
  animation: heart 1s cubic-bezier(0.2, 5, 0.83, 0.67);
}

#heart {
  color: #aab8c2;
  cursor: pointer;
  font-size: 2em;
  align-self: center;
  transition: color 0.2s ease-in-out;
}

#heart:hover {
  color: grey;
}

#heart::selection {
  color: none;
  background: transparent;
}

#heart::moz-selection {
  color: none;
  background: transparent;
}

@keyframes heart {
  0%,
  17.5% {
    font-size: 0;
  }
}
